.nav {
  background-color: #faf9f9;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 40px;
  font-size: 16px;
  box-shadow: 0px -4px 9px 0px black;
}

.link {
  color: #555b6e;
  text-decoration-line: none;
  font-weight: 400;
}

.linkActive {
  color: #555b6e;
  text-decoration-line: none;
  font-weight: 600;
}
